
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif; 
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 120px;
}

button {
    cursor: pointer;
}

button:hover {
    box-shadow: 0 4px 12px #00000026;
    background-color: #F95555;
}

.navbar {
    padding: 20px 0;
    background: #fff;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 60px;
    width: 139px;
}

.menu ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu ul li a {
    margin: 0 20px;
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

.btn-primary {
    background: #28a745;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: bold;
}

.banner {
   background: url('../assets/hero-bg.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   padding: 115px 120px 180px 120px;
   text-align: center;
   color: white;
}

.banner-content {
   max-width: 1360px;
   margin: 0 auto;
}

.early-badge {
    display: inline-flex;
    align-items: center;
    gap: 10px; 
    background-color: white; 
    color: #30B868;
    font-family: 'Inter', sans-serif; 
    font-size: 16px;
    font-weight: 400;
    padding: 8px 20px;
    border-radius: 50px;
    margin-bottom: 16px;
    }

.dot {
    width: 12px;
    height: 12px;
    background-color: #30B868; 
    border-radius: 50%;
    box-shadow: 0 0px 8px 2px #30B868;
}

.banner h1 {
   font-size: 72px;
   margin-bottom: 16px;
   line-height: 84px;
}

.banner h1 span { 
   color: #30B868;
} 

#font-p {
   font-size: 18px;
   margin-bottom: 40px;
    color: #FFFFFF;
    line-height: 36px;
    font-family: 'Inter', sans-serif; 
    text-align: center;
    font-weight: 100;

}

.banner-buttons button {
   padding: 16px 24px;
   font-size: 16px;
   font-weight: 600;
   border-radius: 8px;
   margin: 0 10px;
}

.btn-secondary {
   background: transparent;
   color: white;
   border: 2px solid white;
   display: inline-flex;
   gap: 5px;
}


.btn-secondary .icon {
    width: 15px;
    height: 15px;
        }

.notes-section {
   text-align: center;
   max-width: 1600px;
   background-color: #f9f6f6;
}

.notes-section h2 {
   font-size: 48px;
   font-weight: bold;
   margin-bottom: 16px;
   padding-top: 60px;
}

.notes-section .subtitle {
   font-size: 16px;
   line-height: 20px;
   margin-bottom: 44px;
   color: #627382;
   font-weight: 100;
}

.cards-grid {
   display: flex;
   justify-content: space-around;
   gap: 30px;
   max-width: 1280px;
   margin: 0 auto;
   padding-bottom: 0;
}

.card {
   background: white;
   padding: 40px 20px;
   border-radius: 12px 12px 0 0;
   box-shadow: 0 4px 10px #0000000D;
}

.icon-circle {
   width: 80px;
   height: 80px;
   border-radius: 50%;
   margin: 0 auto 20px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.icon-circle.red {
   background: #F95555;
}

.icon-circle img {
   height: 40px;
}

.card h3 {
   margin-bottom: 16px;
   font-size: 24px;
   font-weight: 500;
}

.card p {
   color: #627382;
   font-size: 16px;
   line-height: 20px;
}

.second-brain-section {
   padding: 120px 0;
   background: #fff;
   max-width: 1280px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
}

.second-brain-grid {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   gap: 80px;
}

.image-content img{
   width: 600px;
   height: 600px;
}

.solution-label {
   color: #30B868;
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;
   }

.second-brain-section h2 {
   font-size: 48px;
   font-weight: bold;
   margin: 16px 0;
}

.second-brain-section p {
   font-size: 16px;
   color: #627382;
   margin-bottom: 40px;
}

.features-list li {
   display: flex;
   align-items: center;
   margin-bottom: 16px;
   font-size: 16px;
   font-weight: 500;
}

.features-list img {
   margin-right: 15px;
   height: 24px;
}

.early-access-section {
   padding: 80px 0;
   background: #F7F6F2;
   text-align: center;
   margin-bottom: 120px;
   max-width: 1280px;
   margin: 0 auto 120px;
   border-radius: 10px;
}

.early-content h2 {
   font-size: 40px;
   font-weight: bold;
   margin-bottom: 16px;
}

.early-content .subtitle {
   font-size: 16px;
   color: #627382;
   margin-bottom: 24px;
}

.btn-primary.large {
   padding: 15px 20px;
   font-size: 16px;
   font-weight: 500;
   border-radius: 5px;
   margin-bottom: 16px;
   background-color: #30B868;
}

.btn-primary.large:hover {
   box-shadow: 0 4px 12px #00000026;
    background-color: #F95555;
}

.btn-primary.large img {
   height: 20px;
   margin-left: 10px;
   vertical-align: middle;
}

.small-text {
   color: #627382;
   font-size: 16px;
}

.footer {
   background: #001f3f;
   color: white;
   padding: 120px 0 30px;
}

.footer-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 84px;
}

.logo-footer img {
   height: 60px;
}

.social-links {
    padding: 20px 25px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 14px;
}

.social-links {
    padding: 20px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;}

.social-links span {
    display: block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
   font-family: 'Inter', sans-serif; 

}

.social-icons {
    display: flex;
    gap: 12px;
}

.social-icons a {
    width: 28px;
    height: 28px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.social-icons a i {
    font-size: 14px;
    color: #000000;
}




.footer hr {
   border: none;
   border-top: 1px solid #FFFFFF33;
   margin: 30px 0;
}

.copyright {
   text-align: center;
   color: #FAFAFA;
   font-size: 16px;
   font-weight: 200;
}


