
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif; 
    /* line-height: 1.6;
    color: #333; */
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 120px;
}

button {
    cursor: pointer;
}

button:hover {
    box-shadow: 0 4px 12px #00000026;
}

.navbar {
    padding: 20px 0;
    background: #fff;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 60px;
    width: 139px;
}

.menu ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu ul li a {
    margin: 0 20px;
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

.btn-primary {
    background: #28a745;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: bold;
}

/* Banner Section */
.banner {
   background: url('../assets/hero-bg.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   /* position: relative; */
   padding: 115px 120px 180px 120px;
   text-align: center;
   color: white;
}

.banner-content {
   /* position: relative; */
   max-width: 1360px;
   margin: 0 auto;
}

.early-badge {
    display: inline-flex;
    align-items: center;
    gap: 10px; 
    background-color: white; 
    color: #30B868;
    font-family: 'Inter', sans-serif; 
    font-size: 16px;
    font-weight: 400;
    padding: 8px 20px;
    border-radius: 50px;
    margin-bottom: 16px;
    }

.dot {
    width: 12px;
    height: 12px;
    background-color: #30B868; /* light green for the dot */
    border-radius: 50%;
    box-shadow: 0 0px 8px 2px #30B868;
}

.banner h1 {
   font-size: 72px;
   margin-bottom: 16px;
   line-height: 84px;
}

.banner h1 span { 
   color: #30B868;
} 

#font-p {
   font-size: 18px;
   margin-bottom: 40px;
    color: #FFFFFF;
    line-height: 36px;
    font-family: 'Inter', sans-serif; 
    text-align: center;
    font-weight: 100;

}

.banner-buttons button {
   padding: 16px 24px;
   font-size: 16px;
   font-weight: 600;
   border-radius: 8px;
   margin: 0 10px;
}

.btn-secondary {
   background: transparent;
   color: white;
   border: 2px solid white;
   display: inline-flex;
   gap: 5px;
}


.btn-secondary .icon {
    width: 15px;
    height: 15px;
}

