
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif; 
    line-height: 1.6;
    color: #333;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 120px;
}

button {
    cursor: pointer;
}

button:hover {
    box-shadow: 0 4px 12px #00000026;
}

.navbar {
    padding: 20px 0;
    background: #fff;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 60px;
    width: 139px;
}

.menu ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu ul li a {
    margin: 0 20px;
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

.btn-primary {
    background: #28a745;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: bold;
}

